{# src/JYPS/RegisterBundle/Resources/views/MemberFee/paytrail_payment.twig #}
<head>
<title>JYPSin Jäsenmaksun maksaminen</title>
<link href="{{ asset('style.css') }}" rel="stylesheet" />
</head>
<script>
function updateSupportFee(value) {
  var span = document.getElementById('support_fee');
  var total_value = document.getElementById('total_amount');
  var member_fee = document.getElementById('memberfee_amount').innerText;
  tt = (+member_fee) + (+value);
  span.textContent = value;
  total_value.textContent = tt;
}
</script>
<center>
Hei, tervetuloa maksamaan JYPSin vuoden {{memberfee.getFeePeriod()}} jäsenmaksusi, alla näet laskun tiedot.
{{form_start(form)}}
{{form_errors(form)}}
<pre>
  Jäsen: {{member.firstname}} {{member.surname}}
  Jäsennumero: {{member.memberid}}
  Jäsentyyppi: {{member.membertype}}
  Jäsenmaksu: <span id="memberfee_amount">{{memberfee.feeamountwithvat}}</span> eur
  Tukimaksu <span id="support_fee">0</span> eur
  Yhteensä <span id="total_amount">0</span> eur
</pre>
<span>Voit myös maksaa vapaaehtoisen tukimaksun, valitse kohde ja summa alhaalta</span>
<p>
{{ form_widget(form.additional_target) }}
{{ form_widget(form.additional_sum, { 'attr': { 'onchange': 
"updateSupportFee(this.value);" } } ) }}
</p>
{%if (change_allowed_from) %}
Haluatko vaihtaa jäsentyyppisi? Tee se ennen maksamista <a href="../typechange/{{member.memberid}}/{{memberfee.referencenumber}}">tästä</a>, huomioithan että perhejäsenyyttä ei voi muuttaa tätä kautta.
{%endif%}
<p>

 Huom! Jos olet entuudestaan jäsen ja haluat liittää samassa
   osoitteessa asuvan perheesi jäseniksi (perhejäsenmaksu 60 €), niin
   ilmoita siitä
<a href="https://docs.google.com/forms/d/e/1FAIpQLScr0ZEqCYKU-rtW0z1V27_Z2pxJdjqAFsCv1khNyjC_bP3qeA/viewform">tällä lomakkeella</a>.
   Perhejäsenyydestä lähetetään tämän jälkeen erillinen lasku.
   </p>
 {{ form_widget(form.save, { 'label': 'Maksa jäsenmaksu' }) }}
{{ form_end(form) }}
</html>
