{# src/JYPS/RegisterBundle/Resources/views/MemberFee/paytrail_payment.twig #}
<head>
<title>JYPS Ry Jäsenmaksun maksaminen</title>
<link href="{{ asset('style.css') }}" rel="stylesheet" />
</head>
<center>
Hei, tervetuloa maksamaan Jyps Ry:n vuoden {{memberfee_year}} jäsenmaksusi, alla näet laskun tiedot.
<pre>
  Jäsen: {{memberfullname}}
  Jäsennumero: {{memberid}}
  Jäsentyyppi: {{membertype}}
  Jäsenmaksu: {{memberfee_amount}} eur
</pre>
{%if (change_allowed_from) %}
Haluatko vaihtaa jäsentyyppisi? Tee se ennen maksamista <a href="../typechange/{{memberid}}/{{referencenumber}}">tästä</a>, huomioithan että perhejäsenyyttä ei voi muuttaa tätä kautta.
{%endif%}
<p>
<form id="payment" action="https://payment.paytrail.com/" method="post">
  <input name="MERCHANT_ID" type="hidden" value="{{merchant_id}}">
  <input name="AMOUNT" type="hidden" value="{{memberfee_amount}}">
  <input name="ORDER_NUMBER" type="hidden" value="{{order_number}}">
  <input name="REFERENCE_NUMBER" type="hidden" value= "" >
  <input name="ORDER_DESCRIPTION" type="hidden" value="{{order_description}}">
  <input name="CURRENCY" type="hidden" value="EUR">
  <input name="RETURN_ADDRESS" type="hidden" value="{{return_address}}">
  <input name="CANCEL_ADDRESS" type="hidden" value="{{cancel_address}}">
  <input name="PENDING_ADDRESS" type="hidden" value="">
  <input name="NOTIFY_ADDRESS" type="hidden" value="{{notify_address}}">
  <input name="TYPE" type="hidden" value="S1">
  <input name="CULTURE" type="hidden" value="fi_FI">
  <input name="PRESELECTED_METHOD" type="hidden" value="">
  <input name="MODE" type="hidden" value="1">
  <input name="VISIBLE_METHODS" type="hidden" value="">
  <input name="GROUP" type="hidden" value="">
  <input name="AUTHCODE" type="hidden" value="{{authcode}}">
  <input type="submit" value="Siirry maksamaan">
</form>
</html>
