{# src/JYPS/RegisterBundle/Resources/views/Member/show_member.html.twig #}
<head>
	<title>JYPS Ry jäsenrekisteri - Lisää jäsen </title>
	  <link href="{{ asset('style.css') }}" rel="stylesheet" />
</head>

<center>
<h2>JYPS Ry</h2>
<font face="Lucida Grande" size="1.5">

<h3><a href=../../member>Jäsenet</a> | <a href=../../member/add>Lisää jäsen</a> | <a href=../user>Admin</a> | <a href=../memberfees>Jäsenmaksut</a>| <a href=../configuration>Konfiguraatio</a> | Viiteaineisto | <a href=logout>Logout</a> Käyttäjä: {{ app.user.username }} </h3>
<h3>Vaihda Salasana</h3>

{{ form_start(form) }}
{{ form_errors(form) }}
<table class="gridtable">
<td>{{ form_widget(form.oldPassword) }}</td>
<tr>
<td>{{ form_widget(form.newPassword) }}</td>
<tr>
<td>{{ form_widget(form.newPassword) }}</td>
</table>

{{ form_widget(form.save) }}

{{ form_end(form) }}