{# src/JYPS/RegisterBundle/Resources/views/Member/show_members.html.twig #}
<head>
	<title>JYPS Ry jäsenrekisteri</title>
	  <link href="{{ asset('style.css') }}" rel="stylesheet" />
</head>
<center>
<h2>JYPS Ry</h2>
<font face="Lucida Grande" size="1.5">
<h3><a href=../member>Jäsenet</a> | <a href=../member/add>Lisää jäsen</a> | <a href=../member/user>Admin</a> | <a href=memberfees>Jäsenmaksut</a>|  Konfiguraatio | Viiteaineisto | <a href=logout>Logout</a>  </h3>

<table border=1 class="gridtable">
  <th>Parametri</th>
  <th>String</th>
  <th>Integer</th>
  <th>Decimal</th>
  <th>Boolean</th>
  <th>Toiminto</th>
  </tr>
  {% for sysparam in sysparams %}

  <td>{{sysparam.getKey()}}</td>
  <td>{{sysparam.getStringValue()}}</td>
  <td>{{sysparam.getIntValue()}}</td>
  <td>{{sysparam.getDecValue()}}</td>
  <td>{{sysparam.getBooleanValue()}}</td>
  <td><input type="submit" value="Poista"> </td>

  </tr>
  {%endfor%}
</table>
</br>

</font>

</html>
