{# src/JYPS/RegisterBundle/Resources/views/MemberFee/paytrail_payment.twig #}
<head>
<title>JYPS Ry Jäsentyypin vaihtaminen</title>
<link href="{{ asset('style.css') }}" rel="stylesheet" />
</head>
<center>
  <h3>Jäsentyypin vaihto - JYPS ry</h3>
  Voit vaihtaa jäsentyyppisi alla olevasta valikosta. Tallentamisen jälkeen sivu palaa takaisin maksulomakkeelle.</p>
  Jos haluat palata maksulomakkeelle, paina <a href="../../pay/{{referencenumber}}">tästä</a>  </p>
  <form id="typechange" action="../../typechange/{{memberid}}/{{referencenumber}}" method="post">
  <select name="changed_type">
  {% for membertype in membertypes %}
    <option value="{{membertype.getId()}}">{{membertype.getNameWithFeeAmount()}}</option>
  {%endfor%}
</select>
<button type="submit" id="change_membertype" name='change_membertype'>Vaihda</button>

</form>

</html>
