{# src/JYPS/RegisterBundle/Resources/views/Member/join_member.html.twig #}
<head>
<title>JYPS Ry Liittymislomake</title>
<link href="{{ asset('style.css') }}" rel="stylesheet" />
</head>
<center>
{{ form_start(form) }}
{{ form_errors(form) }}
<br/>
<fieldset>
<legend>Henkilötiedot:</legend>
<p>{{ form_label(form.firstname, 'Etunimi') }} {{ form_widget(form.firstname) }}</p>
<p>{{ form_label(form.firstname, 'Sukunimi') }} {{ form_widget(form.surname) }}</p>
<p>{{ form_label(form.birth_year, 'Syntymävuosi') }} {{ form_widget(form.birth_year) }}</p>
<p>{{ form_label(form.gender, 'Sukupuoli') }} {{ form_widget(form.gender) }}</p>
<p>{{ form_label(form.membertype, 'Jäsenyyden tyyppi') }} {{ form_widget(form.membertype) }}</p>
</fieldset>
<br/>
<fieldset>
<legend>Yhteystiedot:</legend>
<p>{{ form_label(form.street_address, 'Katuosoite') }} {{ form_widget(form.street_address) }}</p>
<p>{{ form_label(form.postal_code, 'Postinumero') }} {{ form_widget(form.postal_code) }}</p>
<p>{{ form_label(form.city, 'Postitoimipaikka/Kaupunki') }} {{ form_widget(form.city) }}</p>
<p>{{ form_label(form.country, 'Maa') }} {{ form_widget(form.country) }}</p>
<p>{{ form_label(form.email, 'Email') }} {{ form_widget(form.email) }}</p>
<p>{{ form_label(form.telephone, 'Puhelinnumero') }} {{ form_widget(form.telephone) }}</p>
<p>{{ form_label(form.magazine_preference,  'Haluan jäsenlehden sähköisenä') }} {{ form_widget(form.magazine_preference) }}</p>
<p>{{ form_label(form.mailing_list_yleinen, 'Haluan liittyä yleiselle sähköpostilistalle') }} {{ form_widget(form.mailing_list_yleinen) }}</p>

</fieldset>
<br/>

<fieldset>
<legend>Kiinnostuksen kohteet:</legend>
<table class="gridtable-intrests">

{% for intrest in form.intrests|batch(2) %}
<tr>
	{%for column in intrest%}
	<td>{{form_widget(column)}} {{column.vars.label}}</td>
	{%endfor%}
</tr>

{%endfor%}

</table>
<br/>
<p>{{ form_label(form.join_form_freeword, 'Mitä odotat ja toivot JYPS:in jäsenyydeltä? Mistä kuulit seurasta?') }} {{form_widget(form.join_form_freeword) }}
</p>
</fieldset>
<br/>

<fieldset>
<legend>Suosittelija</legend>
<p>{{ form_label(form.referer_person_name, 'Suosittelijan nimi') }} {{ form_widget(form.referer_person_name) }}</p>

</fieldset>
<br/>

<fieldset >
Liittymisen jälkeen saat jäsenmaksutiedot välittömästi antaamaasi sähköpostiosoitteeseen. Jos tietoja ei kuulu, ota yhteyttä jäsensihteeriin (breilinhenna (ät) gmail.com) tai www-vastaavaan (timo.kaipiainen (ät) gmail.com). Olethan huolellinen täyttäessäsi tiedot!
</fieldset>
 {{ form_widget(form.save) }}
{{ form_end(form) }}
<a href=register_info>Rekisteriseloste</a>
</head>
</html>
