{# src/JYPS/RegisterBundle/Resources/views/Member/join_member.html.twig #}
<head>
<title>JYPS Ry Liittymislomake</title>
<link href="{{ asset('style.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="{{ asset('bundles/jypsregister/js//jquery-ui.css')}}">
  <script src="{{ asset('bundles/jypsregister/js/jquery-1.10.2.js')}}"></script>
  <script src="{{ asset('bundles/jypsregister/js/jquery-ui.js')}}"></script>
  <script type="text/javascript">
 $(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $(".familymember_wrap"); //Fields wrapper
    var add_button      = $(".new_family_member"); //Add button ID

    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper).append('<div><label for="familymember_firstnames[]">Etunimi</label><p><input type="text" name="familymember_firstnames[]"></p><label for="familymember_second_names[]">Muut nimet</label><p><input type="text" name="familymember_second_names[]"></p><label for="familymember_surnames[]">Sukunimi</label><p><input type="text" name="familymember_surnames[]"></p><label for="familymember_birthyears[]">Syntymävuosi</label><p><input type="text" name="familymember_birthyears[]"></p><label for="familymember_emails[]">Sähköposti</label><p><input type="text" name="familymember_emails[]"></p><label for="familymember_genders[]">Sukupuoli</label><p><select id="family__gender" name="family__genders[]"><option value="1">Mies</option><option value="0">Nainen</option></select></p><label for="familymember_mail_list[]">Haluan liittyä yleiselle sähköpostilistalle</label><p><input type="checkbox" name="familymembers_mail_list[]"></p> <label for="familymember_types[]">Jäsentyyppi</label><p><select id="family__gender" name="family__types[]"><option value="1">Aikuinen</option><option value="2">Juniori(alle 18v)</option></select></p><a href="#" class="remove_field">Poista</a></div>'); //add input box
        }
    });

    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
$(function() {
  $("#family_members").hide();
  $('#memberid_membertype').change(function(){
    if ($(this).val() == "10") {
        $("#family_members").show();
    } else {
        $("#family_members").hide();
    }
  });
});
</script>
</head>
<center>
{{ form_start(form) }}
{{ form_errors(form) }}
<br/>

<p>Tähdellä (*) merkityt kentät ovat pakollisia!</p>
</br>
<fieldset class="join">
<legend>Henkilötiedot:</legend>
<p>{{ form_label(form.firstname, 'Etunimi *') }} {{ form_widget(form.firstname) }}</p>
<p>{{ form_label(form.second_name, 'Muut nimet') }} {{ form_widget(form.second_name) }}</p>
<p>{{ form_label(form.surname, 'Sukunimi *') }} {{ form_widget(form.surname) }}</p>
<p>{{ form_label(form.birth_year, 'Syntymävuosi *') }} {{ form_widget(form.birth_year) }}</p>
<p>{{ form_label(form.gender, 'Sukupuoli') }} {{ form_widget(form.gender) }}</p>
<p>{{ form_label(form.membertype, 'Jäsenyyden tyyppi') }} {{ form_widget(form.membertype) }}</p>
</fieldset>
<br/>
<fieldset>
<legend>Yhteystiedot:</legend>
<p>{{ form_label(form.street_address, 'Katuosoite *') }} {{ form_widget(form.street_address) }}</p>
<p>{{ form_label(form.postal_code, 'Postinumero *') }} {{ form_widget(form.postal_code) }}</p>
<p>{{ form_label(form.city, 'Postitoimipaikka/Kaupunki *') }} {{ form_widget(form.city) }}</p>
<p>{{ form_label(form.country, 'Maa') }} {{ form_widget(form.country) }}</p>
<p>{{ form_label(form.email, 'Email *') }} {{ form_widget(form.email) }}</p>
<p>{{ form_label(form.telephone, 'Puhelinnumero *') }} {{ form_widget(form.telephone) }}</p>
<p>{{ form_label(form.mailing_list_yleinen, 'Haluan liittyä yleiselle sähköpostilistalle (tiedote toiminnasta kerran viikossa)') }} {{ form_widget(form.mailing_list_yleinen) }}</p>

</fieldset>
<br/>
<fieldset id="family_members">
<legend>Perheenjäsenet</legend>
<div class="familymember_wrap" >
    <div>
      <label for="familymember_firstnames[]">Etunimi</label>
      <p><input type="text" name="familymember_firstnames[]"></p>
      <label for="familymember_second_names[]">Muut nimet</label>
      <p><input type="text" name="familymember_second_names[]"></p>
      <label for="familymember_surnames[]">Sukunimi</label>
      <p><input type="text" name="familymember_surnames[]"></p>
      <label for="familymember_birthyears[]">Syntymävuosi</label>
      <p><input type="text" name="familymember_birthyears[]"></p>
      <label for="familymember_emails[]">Sähköposti</label>
      <p><input type="text" name="familymember_emails[]"></p>
      <label for="familymember_genders[]">Sukupuoli</label>
      <p><select id="familymember_genders" name="familymember_genders[]">
        <option value="1">Mies</option>
        <option value="0">Nainen</option>
      </select></p>
      <label for="familymember_mail_list[]">Haluan liittyä yleiselle sähköpostilistalle</label>
      <p><input type="checkbox" name="familymembers_mail_list[]"></p>
      <label for="familymember_types[]">Jäsentyyppi</label>
      <p><select id="familymember_types" name="familymember_types[]">
        <option value="1">Aikuinen</option>
        <option value="2">Juniori(alle 18v)</option>
      </select></p>
    </div>
</div>

</br>
    <button class="new_family_member">Uusi perheenjäsen...</button>

</fieldset>

</br>
<fieldset>

<legend>Kiinnostuksen kohteet:</legend>
<table class="gridtable-intrests">

{% for intrest in form.intrests|batch(2) %}
<tr>
	{%for column in intrest%}
	<td>{{form_widget(column)}} {{column.vars.label}}</td>
	{%endfor%}
</tr>

{%endfor%}

</table>
<br/>
<p>{{ form_label(form.join_form_freeword, 'Mitä odotat ja toivot JYPS:in jäsenyydeltä? Mistä kuulit seurasta?') }} {{form_widget(form.join_form_freeword) }}
</p>
</fieldset>
<br/>

<fieldset>
<legend>Suosittelija</legend>
<p>{{ form_label(form.referer_person_name, 'Suosittelijan nimi') }} {{ form_widget(form.referer_person_name) }}</p>
<p>Lisätietoa suosittelemisesta ja jäsenkampanjasta: https://www.jyps.fi/jyvaskylan-pyorailyseura-jyps-ry/jasenyys/jasenkampanja</p>
</fieldset>
<br/>

<fieldset >
Liittymisen jälkeen saat jäsenmaksutiedot välittömästi antaamaasi sähköpostiosoitteeseen. Jos tietoja ei kuulu, ota yhteyttä jäsensihteeriin (teemu.peltonen (ät) jyps.fi) tai www-vastaavaan (timo.kaipiainen (ät) gmail.com). Olethan huolellinen täyttäessäsi tiedot!
</fieldset>
</br>
 {{ form_widget(form.save, { 'label': 'Lähetä lomake' }) }}
{{ form_end(form) }}
</center>
</head>
</html>
