{# src/JYPS/RegisterBundle/Resources/views/Member/member_actions.html.twig #}
<head>
	<title>JYPS Ry jäsenrekisteri</title>
	  <link href="{{ asset('style.css') }}" rel="stylesheet" />
    <link href="{{ asset('jquery.notifyBar.css') }}" rel="stylesheet"/>
<link rel="stylesheet" href="{{ asset('bundles/jypsregister/js//jquery-ui.css')}}">
  <script src="{{ asset('bundles/jypsregister/js/jquery-1.10.2.js')}}"></script>
  <script src="{{ asset('bundles/jypsregister/js/jquery-ui.js')}}"></script>
  <script src="{{ asset('bundles/jypsregister/js/jquery.notifyBar.js')}}"></script>

   <script>
  $(function() {
    $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
  });
  </script>
</head>
<html>
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}

<center>
<h2>JYPS Ry</h2>
<font face="Lucida Grande" size="1.5">
<h3> <a href=../member>Jäsenet</a> | Jäsentoiminnot | <a href=../member/add>Lisää jäsen</a> | <a href=../member/user>Admin</a> | <a href=../member/memberfees>Jäsenmaksut</a> | <a href=../member/configuration>Konfiguraatio</a> | <a href=../member/reports>Raportit</a> | <a href=../member/logout>Logout</a> |Käyttäjä: {{ app.user.username }} [<a href=../member/changePassword>vaihda salasana</a>] </h3>


<h3>Jäsentoiminnot</h3>

<!---<fieldset class='member_emails'>
<legend>Sähköpostin lähetys jäsenille</legend>
Tästä voit lähettää sähköpostia jäsenille, voit valita päivämäärän mitä uusimmille jäsenille viestisi lähetetään. HUOM! Viallisiin osoitteisiin lähetetyt postit kimpoavat takaisin lähettäjän osoitteeseen!
<br/>
<br/>

<form name="member_email" method="post" action='../member/communicationMail'>
<label for="datepicker">Päivämäärä:</label>
<input type="text" id="datepicker" name="email_date_limit"/>
</br>
</br>
<label for="from">Lähettäjän sähköpostiosoite:</label>
<input type="text" id="from" name="from" size="60"/>
<br/>
</br>
<label for="subject">Aihe:</label>
<input type="text" id="subject" name="subject" size="60"/>
<br/>
</br>
<label for="freetext">Viesti:</label>
<textarea rows="6" cols="60" id="message" name="message"></textarea>
</br>
</br>
<button type="submit" id="member_email" name='send_email'>Lähetä sähköposti</button>
</form>
</fieldset>
-->

<br/>
<fieldset class='magazine'>
<legend>Sähköinen lehti -ilmoitus</legend>
Tästä voit lähettää ilmoituksen sähköisen lehden saatavuudesta sen tilanneille jäsenille, muista täyttää lehden URL osoite! Muista myös valita lähetetäänkö tämänvuoden avoimille jäsenmaksuille maksumuistutus!
<form name="magazine" method="post" action='../member/magazineInfo'>
<br/>
<label for="magazine_url">Lehden url-osoite:</label>
<input type="text" size="60" id="magazine_url" name="magazine_url"/>
<br/>
<label for="send_payment_info">Lähetä maksumuistutus jos jäsenmaksua ei ole maksettu tältä vuodelta:</label>
<input type="checkbox" id="send_payment_info" name="send_payment_info"/>
<br/>
<br/>
<button type="submit" id="magazine" name='magazine_info'>Lähetä ilmoitus</button>
</form>
</fieldset>

<br/>

<fieldset class='address_excel'>
<legend>Osoitetarra excel</legend>
Tästä voit tuoda excel-tiedoston jäsenien osoitteista osoitetarrojen tulostamista varten, hakuehtona kaikki jäsenet joiden lehden toimitustapana on fyysinen lehti.
<form name="address_excel" method="post" action='../member/addressExcel'>
<br/>
<button type="submit" id="address_excel" name='export_address_excel'>Tuo tiedosto</button>
</form>

</fieldset>

</html>
