{# src/JYPS/RegisterBundle/Resources/views/Member/show_member.html.twig #}
<head>
	<title>JYPS Ry jäsenrekisteri - Raportit </title>
	  <link href="{{ asset('style.css') }}" rel="stylesheet" />
</head>

<center>
<h2>JYPS Ry</h2>
<font face="Lucida Grande" size="1.5">

<h3><a href=../member>Jäsenet</a> | <a href=../member/add>Lisää jäsen</a> | <a href=user>Admin</a> | <a href=memberfees>Jäsenmaksut</a>| <a href=configuration>Konfiguraatio</a> | <a href=../logout>Logout</a> Käyttäjä: {{ app.user.username }} </h3>
<table class="gridtable">
<th>Tieto</th>
<th>Arvo</th>
</tr>
<td>Jäseniä aktiivisena</td><td> {{total_members}}</td>
</tr>
<td>Miehiä</td><td>{{male_qty}}</td>
</tr>
<td>Juniorit(miehet)</td><td>{{male_juniors}}</td>
</tr>
<td>Naisia</td><td>{{female_qty}}</td>
</tr>
<td>Juniorit(naiset)</td><td>{{female_juniors}}</td>
</tr>
<td>Sähköisiä lehtiä tilattu</td><td>{{e_magazine}}</td>

</table>
<br/>

<a href=../member/statistics>Graafit(beta)</a>