
{# src/JYPS/RegisterBundle/Resources/views/Member/show_members_search.html.twig #}


<head>
	<title>JYPS Ry jäsenrekisteri</title>
	  <link href="{{ asset('style.css') }}" rel="stylesheet" />
</head>
<center>
<h2>JYPS Ry</h2>
<font face="Lucida Grande" size="1.5">
<h3>Jäsenet | <a href=./add>Lisää jäsen</a> | <a href=./user>Admin</a> | <a href=./memberfees>Jäsenmaksut</a> | <a href=./configuration>Konfiguraatio</a> | Raportit | <a href=member/logout>Logout</a> |Käyttäjä: </h3>

<h3>Kaikki jäsenet</h3>
<form action="search" method="post">
  <input type="text" name="search_name">
 
  <input type="submit" value="Haku">   <a href=../member>Näytä kaikki</a>|<a href=../member/history>Näytä vanhat</a>
</form>
<table border=1 class="gridtable">
  <th>Jäsennumero</th>
  <th>Nimi</th>
  <th>Toiminnot</th>
  </tr>
  {% for member in members %}

  <td>{{member.getMemberid()}}</td>
  <td><a href=./show/{{member.getMemberId}}>{{ member.getFullname() }}</a>  </td>
  <td><form action="end_member" method="post"><input type="hidden" name="memberid" value={{member.getMemberId()}}>
<input type="submit" value="Poista"></form> </td>

  </tr>
  {%endfor%}
</table>
</br>

</font>

</html>