{# src/JYPS/RegisterBundle/Resources/views/Member/show_member.html.twig #}
<head>
	<title>JYPS Ry jäsenrekisteri - Lisää jäsen </title>
	  <link href="{{ asset('style.css') }}" rel="stylesheet" />
</head>

<center>
<h2>JYPS Ry</h2>
<font face="Lucida Grande" size="1.5">

<h3><a href=../../member>Jäsenet</a> | <a href=../../member/add>Lisää jäsen</a> | <a href=../user>Admin</a> | <a href=../memberfees>Jäsenmaksut</a>| <a href=../configuration>Konfiguraatio</a> | Viiteaineisto | <a href=../logout>Logout</a> Käyttäjä: {{ app.user.username }} </h3>


<h3>Henkilötiedot</h3>
{{ form_start(form) }}
{{ form_errors(form) }}
<table class="gridtable">
  <th>Etunimi</th>
  <th>Sukunimi</th>
  <th>Katuosoite</th>
  <th>Postinumero</th>
  <th>Kaupunki</th>
  <th>Maa</th>
  <th>Sähköposti</th>
  <th>Puhelin</th>
  <th>Syntymävuosi</th> 
  <th>Sukupuoli</th>
  </tr>
  <td> {{ form_widget(form.firstname) }}</td>
  <td> {{ form_widget(form.surname) }}</td>
  <td> {{ form_widget(form.street_address) }} </td>
  <td> {{ form_widget(form.postal_code) }}</td>
  <td> {{ form_widget(form.city) }}</td>
  <td> {{ form_widget(form.country) }} </td>
  <td> {{ form_widget(form.email) }}</td>
  <td> {{ form_widget(form.telephone) }}</td>
  <td> {{ form_widget(form.birth_year) }}</td>
   <td> {{ form_widget(form.gender) }}</td>
</table>

<h3>Muut tiedot</h3>
<table class="gridtable">
<th>Tyyppi</th>
<th>Sähköinen Jäsenlehti</th>
<th>Yleinen sähköpostilista</th>
<th>Memo</th>
</tr>
<td> {{ form_widget(form.membertype) }}</td>
<td> {{ form_widget(form.magazine_preference) }}</td>
<td> {{ form_widget(form.mailing_list_yleinen) }}</td>
<td>{{ form_widget(form.memo) }}</td>
</table>
</br>
<h3>Jäsenmaksut</h3>
<table class="gridtable">
<th>Jäsenkausi</th>
<th>Viite</th>
<th>Maksettu</th>
<th>Eräpäivä</th>
<th>Summa</th>
<th>Memo</th>
</tr>
{% for memberfee in memberfees %}
<td>{{ memberfee.getFeePeriod() }}</td>
<td>{{ memberfee.getReferenceNumber() }}</td>
{% if (memberfee.getPaid() == 1) %}
<td><img src="{{ asset('bundles/jypsregister/images/icons/glyphicons_193_circle_ok.png')}}"></td>
{% endif %}
{% if (memberfee.getPaid() == 0) %}
<td><img src="{{ asset('bundles/jypsregister/images/icons/glyphicons_192_circle_remove.png')}}"></td>
{% endif %}
<td>{{ memberfee.getDueDate()|date('Y-m-d') }}</td>
<td>{{ memberfee.getFeeAmountWithVat() }}</td>
<td>{{ memberfee.getMemo() }}</td>

</tr>
{% endfor %}

</table>
</br>
{{ form_widget(form.save) }}

{{ form_end(form) }}


