{# src/JYPS/RegisterBundle/Resources/views/Member/show_member.html.twig #}
<head>
	<title>JYPS Ry jäsenrekisteri - Lisää jäsen </title>
	  <link href="{{ asset('style.css') }}" rel="stylesheet" />
</head>
<html>
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}

<center>
<h2>JYPS Ry</h2>
<font face="Lucida Grande" size="1.5">

<h3><a href=../../member>Jäsenet</a> | <a href=../../member/add>Lisää jäsen</a> | <a href=../user>Admin</a> | <a href=../memberfees>Jäsenmaksut</a>| <a href=../configuration>Konfiguraatio</a> | <a href=../logout>Logout</a> Käyttäjä: {{ app.user.username }} </h3>


<h3>Henkilötiedot</h3>
{{ form_start(form) }}
{{ form_errors(form) }}

<table class="gridtable">
  <th>Etunimi</th>
  <th>Muut nimet</th>
  <th>Sukunimi</th>
  <th>Katuosoite</th>
  <th>Postinumero</th>
  <th>Kaupunki</th>

  </tr>
  <td> {{ form_widget(form.firstname) }}</td>
  <td> {{ form_widget(form.second_name) }}</td>
  <td> {{ form_widget(form.surname) }}</td>
  <td> {{ form_widget(form.street_address) }} </td>
  <td> {{ form_widget(form.postal_code) }}</td>
  <td> {{ form_widget(form.city) }}</td>

  </tr>
  <th>Maa</th>
  <th colspan="2">Sähköposti</th>
  <th>Puhelin</th>
  <th>Syntymävuosi</th>
  <th>Sukupuoli</th>
  </tr>
   <td> {{ form_widget(form.country) }} </td>
  <td colspan="2"> {{ form_widget(form.email) }}</td>
  <td> {{ form_widget(form.telephone) }}</td>
  <td> {{ form_widget(form.birth_year) }}</td>
  <td> {{ form_widget(form.gender) }}</td>
</table>

<h3>Muut tiedot</h3>
<table class="gridtable">
<th>Tyyppi</th>
<th>Sähköinen Jäsenlehti</th>
<th>Yleinen sähköpostilista</th>
<th>Seuraava jäsenmaksu maksettu</th>
<th>Liittymispäivä</th>
<th>Memo</th>
</tr>
<td> {{ form_widget(form.membertype) }}</td>
<td> {{ form_widget(form.magazine_preference) }}</td>
<td> {{ form_widget(form.mailing_list_yleinen) }}</td>
<td> {{ form_widget(form.next_memberfee_paid) }}</td>
<td> {{ form_widget(form.membership_start_date)}}</td>
<td> {{ form_widget(form.memo) }}</td>
</table>
</br>
<h3>Jäsenmaksut</h3>
<table class="gridtable">
<th>Jäsenkausi</th>
<th>Viite</th>
<th>Eräpäivä</th>
<th>Summa</th>
<th>Memo</th>
<th>Maksun tila</th>

</tr>
{% for memberfee in memberfees %}
<td>{{ memberfee.getFeePeriod() }}</td>
<td>{{ memberfee.getReferenceNumber() }}</td>
<td>{{ memberfee.getDueDate()|date('Y-m-d') }}</td>
<td>{{ memberfee.getFeeAmountWithVat() }}</td>
<td>{{ memberfee.getMemo() }}</td>
{% if (memberfee.getPaid() == 0) %}
<td><input name="Fees_to_be_marked[]" type="checkbox" value="{{memberfee.getId()}}"></td>
{% endif %}
{% if (memberfee.getPaid() == 1) %}
<td><input name="Fees_to_be_marked[]" type="checkbox" value="{{memberfee.getId()}}" checked></td>
{% endif %}

</tr>

{% endfor %}

</table>
</br>
{{ form_widget(form.save, { 'label': 'Tallenna muutokset' }) }}
{% if (member.getParent() == "") %}
<h3>Perhejäsenet</h3>
<table class="gridtable">
<th>Nimi</th>
<th>Jäsennumero</th>
<th>Poista</th>
</tr>
{% for child in member.getChildren() %}
  <td>{{child.getFullName()}}</td>
  <td><a href="../show/{{child.getMemberId()}}">{{child.getMemberId()}}</a></td>
  <td><input name="removed_childs[]" type="checkbox" value="{{child.getMemberId()}}"></td>
</tr>
{%endfor%}
</table>
</br>
<input name="new_child">
{% endif %}

{% if (member.getParent() != "") %}
  <h3>Tämä jäsen on osa perhettä (isäntäjäsen): <a href="../show/{{member.getParent().getMemberId()}}">{{member.getParent().getMemberId()}}</a></h3>
{% endif %}
</br>
</br>

</br>
{{ form_end(form) }}
<form action="../send_membership_card" method="post"><input type="hidden" name="memberid" value={{member.getMemberId()}}>
<input  type="submit" value="Lähetä jäsenkortti"></form>

<form action="../memberfees/sendSingleEmail" method="post"><input type="hidden" name="member_id" value={{member.getId()}}>
<input  type="submit" value="Lähetä jäsenmaksu"></form>

<form action="../end_member" method="post"><input type="hidden" name="memberid" value={{member.getMemberId()}}>
<input  type="submit" value="Poista jäsen"></form>
</font>
</center>
</html>

