
{# src/JYPS/RegisterBundle/Resources/views/Member/show_members.html.twig #}

<link rel="stylesheet" type="text/css" href="{{ asset('bundles/jypsregister/css/jquery.dataTables.min.css') }}">
<script src="{{ asset('bundles/jypsregister/js/jquery-1.10.2.js')}}"></script>
<script type="text/javascript" charset="utf8" src="{{ asset('bundles/jypsregister/js/jquery.dataTables.min.js') }}"></script>


<head>
	<title>JYPS Ry jäsenrekisteri</title>
	  <link href="{{ asset('style.css') }}" rel="stylesheet" />
</head>
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
<center>

<h2>JYPS Ry</h2>
<font face="Lucida Grande" size="1.5">
<h3>Jäsenet | <a href=member/memberactions> Jäsentoiminnot</a> | <a href=member/add>Lisää jäsen</a> | <a href=member/user>Admin</a> | <a href=member/memberfees>Jäsenmaksut</a> | <a href=member/configuration>Konfiguraatio</a> | <a href=member/reports>Raportit</a> | <a href=member/logout>Logout</a> |Käyttäjä: {{ app.user.username }} [<a href=member/changePassword>vaihda salasana</a>] </h3>

<h3>Kaikki jäsenet</h3>
<a href=member>Näytä kaikki</a>|<a href=member/history>Näytä vanhat</a>
<script type="text/javascript">
$(document).ready( function() {
  $('#members').dataTable( {
    "iDisplayLength": -1,
    "order":[[0,"ascending"]],
    "oLanguage": {
         "sSearch": "Haku:"
     },    
     language: {
        searchPlaceholder: "Hakusana"
    }
  } );
} )

</script>
<div id="table-container">
<table width="100%" id="members" class="display">
  <thead>
  <tr>
  <th>Jäsennumero</th>
  <th>Nimi</th>
  <th>Sähköposti</th>
  <th>Syntymävuosi</th>
  <th>Katuosoite</th>
  <th>Postinumero</th>
  <th>Postitoimipaikka</th>
  <th>Liittymisvuosi</th>
  <th>Memo</th>
  </tr>
  </thead>
  <tbody>
  {% for member in members %}
  <tr>
  <td>{{member.getMemberid()}}</td>
  <td><a href=member/show/{{member.getMemberId}}>{{ member.getFullNameSurnameFirst() }}</a>  </td>
  <td><a href=mailto:{{member.getEmail()}}>{{member.getEmail()}}</a></td>
  <td>{{member.getBirthYear()}}</td>
  <td>{{member.getStreetAddress()}}</td>
  <td>{{member.getPostalCode()}}</td>
  <td>{{member.getCity()}}</td>
  <td>{{member.getMembershipStartDate()|date('Y')}}</td>
  <td>{{member.getMemo()}}</td>
  <!--<td><form action="member/end_member" method="post"><input type="hidden" name="memberid" value={{member.getMemberId()}}>
<input type="submit" value="Poista"></form> </td>-->

  </tr>
  {%endfor%}
</tbody>
</table>
</div>
</br>

</font>

</html>
